.search {
	outline: 0;
	box-sizing: border-box;
	width: 100%;
	border: 0;
	box-shadow: none;
	font-family: inherit;
	background: var(--wb-gray-1);
	color: var(--wb-gray-5);
	border-radius: var(--wb-radius-medium);
	margin: 0;
	display: block;
	padding: var(--wb-sp-4);
	line-height: 18px;
}
