.container {
	height: 100%;
	// margin-top: 10px;
	display: flex;
	justify-content: center;
}

.side-column {
	width: 285px;
	margin: 0 10px;
}

.sticky {
	position: sticky;
	top: 10px;
}

.main-content {
	width: 100%;
}

.main-content:where(:not(.full-main-content)) {
	max-width: 30rem;
}

.content-wrapper:where(.full-content-wrapper) {
	min-height: 100dvh;
}

// compensates for the 10px set w/ sticky on the columns
.content-wrapper:where(:not(.full-content-wrapper)) {
	margin-top: 10px;
}