.container {
	height: 100%;
	display: flex;
	justify-content: center;
}

.side-column {
	width: 285px;
	margin: 0 10px;
}

.sticky {
	position: sticky;
	top: 10px;
}

.main-content {
	width: 100%;
}

.main-content:where(:not(.full-main-content)) {
	max-width: 30rem;
}

.content-wrapper:where(.full-content-wrapper) {
	min-height: 100dvh;
}
