@use '../styles/theme.scss' as theme;

.container {
	height: 100%;
	display: flex;
	justify-content: center;
}

.side-column {
	width: 285px;
	margin: 0 10px;
}

.sticky {
	position: sticky;
	top: 10px;
}

:global(.header-wrapper) {
	position: sticky;
	top: 0;
	// compensates for the 10px set w/ sticky on the columns
	padding-top: 10px;
	background: theme.$backgroundBaseColor;
	z-index: 2;
  }