@use './theme.scss' as theme;
@use './interactive-utilities.scss' as utils;

.bg-slate-50 {
	background-color: theme.$slate50;
}
.bg-slate-100 {
	background-color: theme.$slate100;
}
.bg-slate-200 {
	background-color: theme.$slate200;
}
.bg-slate-300 {
	background-color: theme.$slate300;
}
.bg-slate-400 {
	background-color: theme.$slate400;
}
.bg-slate-500 {
	background-color: theme.$slate500;
}
.bg-slate-600 {
	background-color: theme.$slate600;
}
.bg-slate-700 {
	background-color: theme.$slate700;
}
.bg-slate-800 {
	background-color: theme.$slate800;
}
.bg-slate-900 {
	background-color: theme.$slate900;
}
.bg-black {
	background-color: theme.$black-bg;
}
.bg-indigo-600 {
	background-color: theme.$indigo600;
}
.bg-indigo-500 {
	background-color: theme.$indigo500;
}

@include utils.hoverAndFocus('bg-indigo-500') {
	background-color: theme.$indigo500;
}
