.border {
	border-width: 1px;
}
.border-t {
	border-top-width: 1px;
}
.border-b {
	border-bottom-width: 1px;
}
.border-l {
	border-left-width: 1px;
}
.border-r {
	border-right-width: 1px;
}
.border-x {
	border-left-width: 1px;
	border-right-width: 1px;
}
.border-y {
	border-top-width: 1px;
	border-bottom-width: 1px;
}

.border-slate-50 {
	border-color: var(--wb-slate-50);
}
.border-slate-100 {
	border-color: var(--wb-slate-100);
}
.border-slate-200 {
	border-color: var(--wb-slate-200);
}
.border-slate-300 {
	border-color: var(--wb-slate-300);
}
.border-slate-400 {
	border-color: var(--wb-slate-400);
}
.border-slate-500 {
	border-color: var(--wb-slate-500);
}
.border-slate-600 {
	border-color: var(--wb-slate-600);
}
.border-slate-700 {
	border-color: var(--wb-slate-700);
}
.border-slate-800 {
	border-color: var(--wb-slate-800);
}
.border-slate-900 {
	border-color: var(--wb-slate-900);
}