@use './theme.scss' as theme;
@use './interactive-utilities.scss' as utils;

.border {
	border-width: 1px;
}
.border-t {
	border-top-width: 1px;
}
.border-b {
	border-bottom-width: 1px;
}
.border-l {
	border-left-width: 1px;
}
.border-r {
	border-right-width: 1px;
}
.border-x {
	border-left-width: 1px;
	border-right-width: 1px;
}
.border-y {
	border-top-width: 1px;
	border-bottom-width: 1px;
}

.border-slate-50 {
	border-color: theme.$slate50;
}
.border-slate-100 {
	border-color: theme.$slate100;
}
.border-slate-200 {
	border-color: theme.$slate200;
}
.border-slate-300 {
	border-color: theme.$slate300;
}
.border-slate-400 {
	border-color: theme.$slate400;
}
.border-slate-500 {
	border-color: theme.$slate500;
}
.border-slate-600 {
	border-color: theme.$slate600;
}
.border-slate-700 {
	border-color: theme.$slate700;
}
.border-slate-800 {
	border-color: theme.$slate800;
}
.border-slate-900 {
	border-color: theme.$slate900;
}
.border-black {
	border-color: theme.$black-border;
}
.border-indigo-400 {
	border-color: theme.$indigo400;
}
.border-indigo-600 {
	border-color: theme.$indigo600;
}

@include utils.hoverAndFocus('border-indigo-400') {
	border-color: theme.$indigo400;
}

@include utils.hoverAndFocus('border-indigo-500') {
	border-color: theme.$indigo500;
}

@include utils.invalid('border-red-400') {
    border-color: theme.$red400;
}
