@use 'sass:list';
@use './theme.scss';

// padding
@for $i from 0 through 6 {
	.p#{$i} {
		padding: list.nth(theme.$space_scale, $i + 1);
	}
}

@for $i from 0 through 6 {
	.px-#{$i} {
		padding-left: list.nth(theme.$space_scale, $i + 1);
		padding-right: list.nth(theme.$space_scale, $i + 1);
	}
}

@for $i from 0 through 6 {
	.py-#{$i} {
		padding-top: list.nth(theme.$space_scale, $i + 1);
		padding-bottom: list.nth(theme.$space_scale, $i + 1);
	}
}

@for $i from 0 through 6 {
	.pt-#{$i} {
		padding-top: list.nth(theme.$space_scale, $i + 1);
	}
}

@for $i from 0 through 6 {
	.pb-#{$i} {
		padding-bottom: list.nth(theme.$space_scale, $i + 1);
	}
}

@for $i from 0 through 6 {
	.pr-#{$i} {
		padding-right: list.nth(theme.$space_scale, $i + 1);
	}
}

@for $i from 0 through 6 {
	.pl-#{$i} {
		padding-left: list.nth(theme.$space_scale, $i + 1);
	}
}

// Margin
@for $i from 0 through 6 {
	.m#{$i} {
		margin: list.nth(theme.$space_scale, $i + 1);
	}
}

@for $i from 0 through 6 {
	.mx-#{$i} {
		margin-left: list.nth(theme.$space_scale, $i + 1);
		margin-right: list.nth(theme.$space_scale, $i + 1);
	}
}

@for $i from 0 through 6 {
	.my-#{$i} {
		margin-top: list.nth(theme.$space_scale, $i + 1);
		margin-bottom: list.nth(theme.$space_scale, $i + 1);
	}
}

@for $i from 0 through 6 {
	.mt-#{$i} {
		margin-top: list.nth(theme.$space_scale, $i + 1);
	}
}

@for $i from 0 through 6 {
	.mb-#{$i} {
		margin-bottom: list.nth(theme.$space_scale, $i + 1);
	}
}

@for $i from 0 through 6 {
	.ml-#{$i} {
		margin-left: list.nth(theme.$space_scale, $i + 1);
	}
}

@for $i from 0 through 6 {
	.mr-#{$i} {
		margin-right: list.nth(theme.$space_scale, $i + 1);
	}
}