$sp0: 0px;
$sp1: 0.125rem;
$sp2: 0.25rem;
$sp3: 0.5rem;
$sp4: 1rem;
$sp5: 1.5rem;
$sp6: 2rem;
$sp7: 2.5rem;
$sp8: 3.5rem;
$sp9: 4.5rem;
$space_scale: $sp0, $sp1, $sp2, $sp3, $sp4, $sp5, $sp6, $sp7, $sp8, $sp9;

$font-xsmall: 0.75rem;
$font-small: 0.875rem;
$font-medium: 1rem;
$font-large: 1.125rem;
$font-xlarge: 1.5rem;

$radius-small: 0.125rem;
$radius-medium: 0.25rem;
$radius-large: 0.5rem;

$black: #000;
$black-bg: #131419;
$black-border: #0a0b0e;
$white: #fff;

$slate50: #f8fafc;
$slate100: #eff6ff;
$slate200: #dbeafe;
$slate300: #7a899f;
$slate400: #9baec8;
$slate500: #64748b;
$slate600: #393f4f;
$slate700: #313543;
$slate800: #282c37;
$slate900: #1f232b;

$indigo400: #8c8dff;
$indigo500: #6364ff;
$indigo600: #595aff;

$red400: #e87487;

// $backgroundBaseColor: $slate900;
$backgroundBaseColor: #191b22;
$fontBaseColor: $white;