@use '../../tailwind-values.scss' as tailwind;

.explore-wrapper {
  min-height: calc(100vh - 20px);
}

@media (max-width: tailwind.$xl-breakpoint) {
  .explore-wrapper {
    min-height: calc(100vh - 3.9rem);
  }
}

.active {
  color: #dcebfe;
  position: relative;

  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border-color: transparent transparent #9baec8;
    border-style: solid;
    border-width: 0 10px 10px;
    bottom: -1px;
  }

  &::after {
    bottom: -1px;
    border-color: transparent transparent var(--wildebeest-color-700);
  }
}