
.explore-wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  min-height: calc(100vh - 20px);
}

.explore-content-wrapper {
  flex: 1 1 auto;
}

.active {
  color: #dbeafe;
  position: relative;

  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border-color: transparent transparent #9baec8;
    border-style: solid;
    border-width: 0 10px 10px;
    bottom: -1px;
  }

  &::after {
    bottom: -1px;
    border-color: transparent transparent #282c37;
  }
}