.container {
	height: 100%;
	// margin-top: 10px;
	display: flex;
	justify-content: center;
}

.side-column {
	width: 285px;
	margin: 0 10px;
}

.sticky {
	position: sticky;
	top: 10px;
}

.main-content {
	max-width: 600px;
	width: 100%;
}

// compensates for the 10px set w/ sticky on the columns
.content-wrapper {
	margin-top: 10px;
}