.active {
  color: var(--wildebeest-color-200);
  position: relative;

  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border-color: transparent transparent var(--wildebeest-color-500);
    border-style: solid;
    border-width: 0 0.7rem 0.7rem;
    bottom: -1px;
  }

  &::after {
    bottom: -1px;
    border-color: transparent transparent var(--wildebeest-color-600);
  }
}
