.media-gallery:has(:nth-child(1)) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.media-gallery:has(:nth-child(2)) {
    grid-template-columns: 1fr 1fr;
}

.media-gallery:has(:nth-child(3)) {
    grid-template-rows: 1fr 1fr;

    &:not(:has(:nth-child(4))) {
        :nth-child(1) {
            grid-column: 1;
            grid-row: 1 / -1;
        }
    
        :nth-child(2) {
            grid-column: 2;
            grid-row: 1;
        }
    
        :nth-child(3) {
            grid-column: 2;
            grid-row: 2;
        }
    }
}

.media-gallery:has(:nth-child(4)) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
