.status-content {
  a {
    text-decoration: none;
    color: #8c8dff;
  }
  a.mention {
    color: #dbeafe;
  }
  a.hashtag {
    color: #dbeafe;
  }

  p {
    margin-bottom: theme('spacing.4');
  }
}

.preview-image {
  width: 4rem;
  height: 4rem;
}

// These are rules that are attached to content and expected to be
// defined by the client
.invisible {
	font-size: 0;
	line-height: 0;
	display: inline-block;
	width: 0;
	height: 0;
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
}

.ellipsis::after {
	content: "...";
}

.status-link {
  color: #dbeafe;
	text-decoration: none;
}
