@use '../../../styles/theme.scss' as theme;

.back-button {
  background: transparent;
  color: theme.$indigo400;
}

.back-button-text {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}