@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: ui-sans-serif, sans-serif, ui-sans-serif;
	line-height: 1.25rem;
	text-rendering: optimizelegibility;
}

a {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
}

button {
	cursor: pointer;
}

.pointer {
	cursor: pointer;
}