
$radius-medium: 0.25rem;

$slate100: #eff6ff;
$slate200: #dbeafe;
$slate400: #9baec8;
$slate700: #313543;
$slate800: #282c37;
$slate900: #1f232b;

$indigo400: #8c8dff;

// $backgroundBaseColor: $slate900;
$backgroundBaseColor: #191b22;
$fontBaseColor: #fff;
