.bg-slate-50 {
	background-color: var(--wb-slate-50);
}
.bg-slate-100 {
	background-color: var(--wb-slate-100);
}
.bg-slate-200 {
	background-color: var(--wb-slate-200);
}
.bg-slate-300 {
	background-color: var(--wb-slate-300);
}
.bg-slate-400 {
	background-color: var(--wb-slate-400);
}
.bg-slate-500 {
	background-color: var(--wb-slate-500);
}
.bg-slate-600 {
	background-color: var(--wb-slate-600);
}
.bg-slate-700 {
	background-color: var(--wb-slate-700);
}
.bg-slate-800 {
	background-color: var(--wb-slate-800);
}
.bg-slate-900 {
	background-color: var(--wb-slate-900);
}