.block {
	display: block;
}

.inline {
	display: inline;
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.justify-around {
	justify-content: space-around;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: space-center;
}

.justify-start {
	justify-content:flex-start
}

.justify-end {
	justify-content:flex-end
}

.items-center {
	align-items: center;
}

.items-start {
	align-items: flex-start;
}

.items-end {
	align-items: flex-end;
}