:root {
	--wb-black: #000;
	--wb-white: #fff;
	--wb-green: #79bd9a;
	--wb-red: #df405a;
	--wb-gold: #ca8f04;

	--wb-base-background-color: #191b22;
	--wb-base-font-color: var(--wb-white);
	--wb-secondary-color: #d9e1e8;
	--wb-highlight-color: #6364ff;

	--wb-gray-1: #282c37;
	--wb-gray-2: #313543;
	--wb-gray-3: #393f4f;
	--wb-gray-5: #9baec8;

	--wb-indigo-400: #8c8dff;

	--wb-slate-50: #f8fafc;
	--wb-slate-100: #eff6ff;
	--wb-slate-200: #dbeafe;
	--wb-slate-400: #9baec8;
	--wb-slate-500: #64748b;
	--wb-slate-600: #393f4f;
	--wb-slate-700: #313543;
	--wb-slate-800: #282c37;
	--wb-slate-900: #1f232b;

	--wb-font-xsmall: 0.75rem;
	--wb-font-small: 0.875rem;
	--wb-font-medium: 1rem;
	--wb-font-large: 1.125rem;
	--wb-font-xlarge: 1.5rem;

	--wb-radius-small: 0.125rem;
	--wb-radius-medium: 0.25rem;
	--wb-radius-large: 0.5rem;

	--wb-sp-0: 0px;
	--wb-sp-1: 0.125rem;
	--wb-sp-2: 0.25rem;
	--wb-sp-3: 0.5rem;
	--wb-sp-4: 1rem;
	--wb-sp-5: 1.5rem;
}
