.bold {
  font-weight: 600;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// ***************** TEXT ******************* //

// Color
.secondary {
  color: var(--wb-gray-5);
}

.text-slate-50 {
  color: var(--wb-slate-50);
}
.text-slate-100 {
  color: var(--wb-slate-100);
}
.text-slate-200 {
  color: var(--wb-slate-200);
}
.text-slate-300 {
  color: var(--wb-slate-300);
}
.text-slate-400 {
  color: var(--wb-slate-400);
}
.text-slate-500 {
  color: var(--wb-slate-500);
}
.text-slate-600 {
  color: var(--wb-slate-600);
}
.text-slate-700 {
  color: var(--wb-slate-700);
}
.text-slate-800 {
  color: var(--wb-slate-800);
}
.text-slate-900 {
  color: var(--wb-slate-900);
}

.text-indigo-400 {
  color: var(--wb-indigo-400);
}

// Size
.text-xs {
  font-size: var(--wb-font-xsmall);
}
.text-sm {
  font-size: var(--wb-font-small);
}
.text-md {
  font-size: var(--wb-font-medium);
}
.text-lg {
  font-size: var(--wb-font-large);
}
.text-xl {
  font-size: var(--wb-font-xlarge);
}

// Weight

.text-light {
  font-weight: 300;
}
.text-reg {
  font-weight: 400;
}
.text-semi {
  font-weight: 500;
}
.text-bold {
  font-weight: 600;
}

// Alignment
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

// Transform
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}

// Decoration
.no-decoration {
  text-decoration: none;
}

// ***************** BORDERS ******************* //
.border {
  border-width: 1px;
}
.border-t {
  border-top-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-l {
  border-left-width: 1px;
}
.border-r {
  border-right-width: 1px;
}
.border-x {
  border-left-width: 1px;
  border-right-width: 1px;
}
.border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.border-slate-50 {
  border-color: var(--wb-slate-50);
}
.border-slate-100 {
  border-color: var(--wb-slate-100);
}
.border-slate-200 {
  border-color: var(--wb-slate-200);
}
.border-slate-300 {
  border-color: var(--wb-slate-300);
}
.border-slate-400 {
  border-color: var(--wb-slate-400);
}
.border-slate-500 {
  border-color: var(--wb-slate-500);
}
.border-slate-600 {
  border-color: var(--wb-slate-600);
}
.border-slate-700 {
  border-color: var(--wb-slate-700);
}
.border-slate-800 {
  border-color: var(--wb-slate-800);
}
.border-slate-900 {
  border-color: var(--wb-slate-900);
}

// ***************** BACKGROUNDS ******************* //

.bg-slate-50 {
  background-color: var(--wb-slate-50);
}
.bg-slate-100 {
  background-color: var(--wb-slate-100);
}
.bg-slate-200 {
  background-color: var(--wb-slate-200);
}
.bg-slate-300 {
  background-color: var(--wb-slate-300);
}
.bg-slate-400 {
  background-color: var(--wb-slate-400);
}
.bg-slate-500 {
  background-color: var(--wb-slate-500);
}
.bg-slate-600 {
  background-color: var(--wb-slate-600);
}
.bg-slate-700 {
  background-color: var(--wb-slate-700);
}
.bg-slate-800 {
  background-color: var(--wb-slate-800);
}
.bg-slate-900 {
  background-color: var(--wb-slate-900);
}



// ***************** ROUNDING ******************* //
.rounded {
  border-radius: var(--wb-radius-medium);
}

.rounded-sm {
  border-radius: var(--wb-radius-small);
}

.rounded-lg {
  border-radius: var(--wb-radius-large);
}


// ***************** SPACING ******************* //

// padding
.p0 {
  padding: 0;
}
.p1 {
  padding: var(--wb-sp-1);
}
.p2 {
  padding: var(--wb-sp-2);
}
.p3 {
  padding: var(--wb-sp-3);
}
.p4 {
  padding: var(--wb-sp-4);
}
.p5 {
  padding: var(--wb-sp-5);
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: var(--wb-sp-1);
  padding-right: var(--wb-sp-1);
}
.px-2 {
  padding-left: var(--wb-sp-2);
  padding-right: var(--wb-sp-2);
}
.px-3 {
  padding-left: var(--wb-sp-3);
  padding-right: var(--wb-sp-3);
}
.px-4 {
  padding-left: var(--wb-sp-4);
  padding-right: var(--wb-sp-4);
}
.px-5 {
  padding-left: var(--wb-sp-5);
  padding-right: var(--wb-sp-5);
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: var(--wb-sp-1);
  padding-bottom: var(--wb-sp-1);
}
.py-2 {
  padding-top: var(--wb-sp-2);
  padding-bottom: var(--wb-sp-2);
}
.py-3 {
  padding-top: var(--wb-sp-3);
  padding-bottom: var(--wb-sp-3);
}
.py-4 {
  padding-top: var(--wb-sp-4);
  padding-bottom: var(--wb-sp-4);
}
.py-5 {
  padding-top: var(--wb-sp-5);
  padding-bottom: var(--wb-sp-5);
}

.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: var(--wb-sp-1);
}
.pt-2 {
  padding-top: var(--wb-sp-2);
}
.pt-3 {
  padding-top: var(--wb-sp-3);
}
.pt-4 {
  padding-top: var(--wb-sp-4);
}
.pt-5 {
  padding-top: var(--wb-sp-5);
}

.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: var(--wb-sp-1);
}
.pb-2 {
  padding-bottom: var(--wb-sp-2);
}
.pb-3 {
  padding-bottom: var(--wb-sp-3);
}
.pb-4 {
  padding-bottom: var(--wb-sp-4);
}
.pb-5 {
  padding-bottom: var(--wb-sp-5);
}

.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: var(--wb-sp-1);
}
.pr-2 {
  padding-right: var(--wb-sp-2);
}
.pr-3 {
  padding-right: var(--wb-sp-3);
}
.pr-4 {
  padding-right: var(--wb-sp-4);
}
.pb-5 {
  padding-right: var(--wb-sp-5);
}

.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: var(--wb-sp-1);
}
.pl-2 {
  padding-left: var(--wb-sp-2);
}
.pl-3 {
  padding-left: var(--wb-sp-3);
}
.pl-4 {
  padding-left: var(--wb-sp-4);
}
.pl-5 {
  padding-left: var(--wb-sp-5);
}

// Margin
.m0 {
  margin: 0;
}
.m1 {
  margin: var(--wb-sp-1);
}
.m2 {
  margin: var(--wb-sp-2);
}
.m3 {
  margin: var(--wb-sp-3);
}
.m4 {
  margin: var(--wb-sp-4);
}
.m5 {
  margin: var(--wb-sp-5);
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-1 {
  margin-left: var(--wb-sp-1);
  margin-right: var(--wb-sp-1);
}
.mx-2 {
  margin-left: var(--wb-sp-2);
  margin-right: var(--wb-sp-2);
}
.mx-3 {
  margin-left: var(--wb-sp-3);
  margin-right: var(--wb-sp-3);
}
.mx-4 {
  margin-left: var(--wb-sp-4);
  margin-right: var(--wb-sp-4);
}
.mx-5 {
  margin-left: var(--wb-sp-5);
  margin-right: var(--wb-sp-5);
}

.my-1 {
  margin-top: var(--wb-sp-1);
  margin-bottom: var(--wb-sp-1);
}
.my-2 {
  margin-top: var(--wb-sp-2);
  margin-bottom: var(--wb-sp-2);
}
.my-3 {
  margin-top: var(--wb-sp-3);
  margin-bottom: var(--wb-sp-3);
}
.my-4 {
  margin-top: var(--wb-sp-4);
  margin-bottom: var(--wb-sp-4);
}
.my-5 {
  margin-top: var(--wb-sp-5);
  margin-bottom: var(--wb-sp-5);
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: var(--wb-sp-1);
}
.mt-2 {
  margin-top: var(--wb-sp-2);
}
.mt-3 {
  margin-top: var(--wb-sp-3);
}
.mt-4 {
  margin-top: var(--wb-sp-4);
}
.mt-5 {
  margin-top: var(--wb-sp-5);
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: var(--wb-sp-1);
}
.mb-2 {
  margin-bottom: var(--wb-sp-2);
}
.mb-3 {
  margin-bottom: var(--wb-sp-3);
}
.mb-4 {
  margin-bottom: var(--wb-sp-4);
}
.mb-5 {
  margin-bottom: var(--wb-sp-5);
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: var(--wb-sp-1);
}
.ml-2 {
  margin-left: var(--wb-sp-2);
}
.ml-3 {
  margin-left: var(--wb-sp-3);
}
.ml-4 {
  margin-left: var(--wb-sp-4);
}
.ml-5 {
  margin-left: var(--wb-sp-5);
}

.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: var(--wb-sp-1);
}
.mr-2 {
  margin-right: var(--wb-sp-2);
}
.mr-3 {
  margin-right: var(--wb-sp-3);
}
.mr-4 {
  margin-right: var(--wb-sp-4);
}
.mr-5 {
  margin-right: var(--wb-sp-5);
}


// ***************** Display ******************* //
.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}